@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900');

h1,h2,h3,h4,h5,h6,p{ /* all text */
    --font-offset: 0.25em;
    width: fit-content;
    margin:0;
}

h1,h2,h3,h4,h5,h6{ /* for all titles */
    font-family: "Inter", "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    line-height: 110%;
    color: hsl(0, 0%, 93%);
}

h1{
    font-size: calc(3em + var(--font-offset));
    font-variation-settings: "wght" 600;
}
h2{
    font-size: calc(2.5em + var(--font-offset));
}
h3{
    font-size: calc(2em + var(--font-offset));
}
h4{
    font-size: calc(1.6em + var(--font-offset));
}
h5{
    font-size: calc(1.3em + var(--font-offset));
}
h6{
    font-size: calc(1em + var(--font-offset));
}

p{    
    font-family: "Inter", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(1em + var(--font-offset));
    color: hsl(0, 0%, 77%);
    letter-spacing: 0.2px;
} .monospace{
    font-family: "Fira Code", monospace;
    font-size: calc(0.9em + var(--font-offset));
    background-color: hsl(200,0%,85%);
    color: hsl(0, 90%, 59%);
    font-variation-settings: "wght" 400;
    padding: 1pt 10pt 1pt 10pt;
    border-radius: 4pt;
} .sub{
    font-size: calc(0.5em + var(--font-offset));
}