@import "guideline.scss";

body{
  margin:0; padding:0; // remove stupid margin stuff
  background-color: $primary;
  width: 100vw; height: 100vh;

  display: flex; justify-content: center; align-items: center;
  overflow:hidden;
}

.no-mobile-access{
  z-index: 9999; position:fixed;
  width: 100vw; height: 100vh;
  background-color: $primary;
  display: flex; flex-direction: column; justify-content: center; align-items: center;
  text-align: center;
  opacity: 0; pointer-events: none;

  transition: opacity 200ms ease-in-out
}

.no-drag{
  -webkit-user-drag: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@media (max-width: 700px) { // width <= 500px
  .no-mobile-access{
    opacity: 1 !important; pointer-events: all;
  }
}